
/* TODO responsive design */

/* Config */

:root {
    /* Type */
    --font-default: 'Varela', monospace;
    --font-logo: 'Tapestry', monospace;

    --font-size-title: 22px;
    --font-size-subtitle: 18px;
    --font-size-default: 14px;
    --font-size-small: 13px;
    --font-size-tiny: 12px;

    --leading-default: 1.4rem;
    --leading-loose: 1.6rem;
    --leading-tight: 1.2rem;

    --button-font-size: 13px;

    /* Borders */
    --border-radius: 3px;

    /* Transitions */
    --transition-default: 500ms;

    /* Colors */
    --color-action: #BF0252;
    --color-action-active: #F2065F;
    --color-secondary: #08B3BD;
    --color-secondary-active: #04d4e0;
    --color-error: #FF0000;
    --color-success: #14c80f;

    --color-gray-0: #ffffff;
    --color-gray-10: #F2F2F2;
    --color-gray-12: #a3a3a3;
    --color-gray-15: #798282;
    --color-gray-20: #4f5252;
    --color-gray-30: #3B3D3D;
    --color-gray-35: #202121;
    --color-gray-40: #0C0F0F;

    --text-color: var(--color-gray-10);
    --link-color: #FF4289;

    --bg-article: var(--color-gray-30);
    --bg-footer: var(--color-gray-30);
    --bg-header: #70003C;
    --bg-sidebar: var(--color-gray-35);
    --bg: var(--color-gray-40);

    /* Spacing */
    --spacing-default: 20px;
    --spacing-large: 40px;
    --spacing-medium: 10px;
    --spacing-small: 5px;

    /* UI */
    --sidebar-width: 220px;
    --caret-img: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z" /><path d="M0 0h24v24H0" fill="none" /></svg>')
}

/* Focus */

:focus {
    outline: 2px solid var(--color-gray-10);
    outline-offset: -2px;
}

/* Layout */

html {
    height: 100%;
}

body {
    color: var(--text-color);
    background: var(--bg);
    font-size: var(--font-size-default);
    line-height: var(--leading-default);
    font-family: var(--font-default);
    display: grid;
    height: 100%;
    margin: 0;
    grid-template-areas: "header header" "left main" "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    -webkit-print-color-adjust: exact;
}

body > header {
    grid-area: header;
    height: 50px;
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--bg-header);
    z-index: 1;
}

body > aside {
    grid-area: left;
    width: var(--sidebar-width);
    background: var(--bg-sidebar);
    animation-duration: var(--transition-default);
    animation-name: slideIn;
}

body > main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-default);
}

body[data-layout="sidebar-expanded"] > aside {
    grid-area: left / main;
    width: 100%;
}

body[data-layout="full"] > aside {
    display: none;
}

body[data-layout="sidebar-expanded"] > main {
    display: none;
}

body > footer {
    grid-area: footer;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: var(--bg-footer);
    box-shadow: 0 0 40px 10px var(--color-gray-40);
    transform: translate3d(0, 100%, 0);
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: slideUp;
}

body > footer > small {
    font-size: var(--font-size-small);
    padding: var(--spacing-small) var(--spacing-default);
}

/* Logo */

h1 {
    font-size: var(--font-size-title);
    font-family: var(--font-logo);
    padding: 10px 20px;
    margin: 0;
    font-variant: small-caps;
}

h1 a {
    color: var(--color-gray-0);
}

h1 a:hover {
    text-decoration: none;
}

/* Nav */

body > header > nav {
    color: var(--color-gray-0);
    display: flex;
    align-items: center;
    margin: 10px;
}

body > header > nav [data-separator] {
    margin: 0 15px;
    border-left: 1px solid var(--color-gray-0);
    height: 15px;
}

/* Sections */

section {
    page-break-inside: avoid;
}

/* Links */

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* Hr */

hr {
    height: 0;
    border: 0;
    border-bottom: 1px solid var(--color-gray-15);
    margin: 20px 0;
}

/* Articles */

article {
    background: var(--bg-article);
    border-radius: var(--border-radius);
    padding: var(--spacing-default);
}

article header {
    border-bottom: 1px solid var(--color-gray-15);
    align-items: baseline;
    padding-bottom: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

article > section {
    border: 1px solid var(--color-gray-15);
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

article [data-detail] {
    color: var(--color-gray-12);
}

/* Buttons */

button,
header nav a {
    cursor: pointer;
    border-radius: var(--border-radius);
    border: 0;
    background: var(--color-action);
    color: var(--color-gray-0);
    font-size: var(--button-font-size);
    font-family: var(--font-default);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background var(--transition-default);
}

button:hover,
button[data-active],
header nav a[data-active],
header nav a:hover {
    background: var(--color-action-active);
    text-decoration: none;
}

header nav a:focus {
    text-decoration: none;
}

header nav a {
    opacity: 0;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
}

button[data-size="small"],
header nav a {
    min-height: 30px;
    padding: 0 20px;
}

button[data-size="large"] {
    padding: 8px 20px;
}

button[data-info] {
    padding: 0;
    width: var(--spacing-default);
    height: var(--spacing-default);
    border-radius: var(--spacing-default);
}

button + button,
header nav a + a {
    margin-left: 10px;
}

button[data-action="generate"] {
    flex-grow: 1;
    max-width: 236px;
}

button[data-action="expand"] {
    width: 33px;
}

button[data-action="expand"] span {
    width: 10px;
    height: 10px;
    background-image: var(--caret-img);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    pointer-events: none;
    transform: scale(1.5, 1.2) rotate(-90deg);
}

[data-layout="sidebar-expanded"] button[data-action="expand"] span {
    transform: scale(1.5, 1.2) rotate(90deg);
}

button[data-ready] {
    flex-direction: column;
    flex-grow: 0;
    max-width: 360px;
    max-height: 360px;
    padding: var(--spacing-large);
    background: var(--color-gray-35);
    border: 1px solid var(--color-gray-20);
    border-radius: var(--spacing-default);
    opacity: 0;
    animation-delay: 500ms;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
}

button[data-ready]:hover {
    background: var(--color-gray-40);
}

button[data-ready] span {
    text-shadow: 0 0 10px var(--color-gray-0);
    font-size: var(--font-size-title);
}

button[data-ready] svg {
    pointer-events: none;
}

/* Forms */

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    padding: 0;
    margin: 0 0 2px 0;
    border: 0;
}

fieldset > button {
    width: 100%;
    border-radius: 0;
    background: var(--color-gray-30);
}

fieldset > button:hover {
    background: var(--color-gray-20);
}

fieldset > h2 {
    padding: 4px 20px;
}

fieldset > div {
    padding: var(--spacing-default);
    display: block;
}

fieldset > div:last-child {
    padding-bottom: var(--spacing-large);
}

fieldset[data-accordion="collapsed"] > div {
    display: none;
}

label {
    font-size: var(--font-size-small);
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-small);
}

input,
select {
    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0 12px;
    box-sizing: border-box;
    color: var(--text-color);
    background: var(--color-gray-40);
    border: 1px solid var(--color-gray-15);
    border-radius: var(--border-radius);
    font-size: var(--font-size-default);
    transition: background var(--transition-default), border var(--transition-default);
}

input:hover,
select:hover {
    border-color: var(--color-secondary);
}

input:focus,
select:focus {
    border-color: var(--color-secondary-active);
    outline: none;
}

input[type="range"] {
    padding: 0;
    height: auto;
    border: 0;
    width: 100%; /* Specific width is required for Firefox. */
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -4px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--color-gray-0);
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: var(--color-gray-0);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    transition: background var(--transition-default);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--color-secondary);
    border-radius: var(--border-radius);
    transition: background var(--transition-default);
}

input[type="range"]:hover::-webkit-slider-runnable-track,
input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--color-secondary-active);
}

input[type="range"]:hover::-moz-range-track,
input[type="range"]:focus::-moz-range-track {
    background: var(--color-secondary-active);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: var(--caret-img);
    background-repeat: no-repeat;
    background-position-x: calc(100% - 5px);
    background-position-y: 50%;
    padding-right: 36px;
    cursor: pointer;
}

input[data-error],
select[data-error] {
    border-color: var(--color-error);
}

input[type=range][data-error]::-webkit-slider-runnable-track {
    background: var(--color-error);
}

input[type="rage"][data-error]::-moz-range-track {
    background: var(--color-error);
}

/* Type */

h1, h2, h3 {
    font-weight: normal;
    line-height: var(--leading-loose);
}

h1 {
    font-size: var(--font-size-title);
    font-family: var(--font-logo);
    margin: 0;
}

h2 {
    font-size: var(--font-size-title);
    margin: 0;
}

h3 {
    font-size: var(--font-size-subtitle);
    margin: var(--spacing-default) 0 var(--spacing-medium) 0;
}

h3:first-child {
    margin-top: 0;
}

h2[data-title="page"] {
    font-family: var(--font-logo);
    font-size: 60px;
    line-height: 1em;
    letter-spacing: 5px;
    text-transform: uppercase;
}

p {
    line-height: var(--leading-loose);
    margin: var(--spacing-medium) 0;
}

small {
    font-size: var(--font-size-small);
}

/* Lists */

ul {
    line-height: var(--leading-loose);
    padding-left: var(--spacing-default);
    margin: var(--spacing-medium) 0;
}

li {
    padding-right: var(--spacing-default);
}

ul[data-list-style="none"] {
    list-style: none;
}

/* TODO Rework legend & remove these data-flex list rules */
ul[data-flex] {
    list-style: none;
    padding-left: 0;
}

ul[data-flex] li {
    display: flex;
    align-items: center;
    padding: var(--spacing-medium);
}

ul[data-flex] li span {
    font-size: var(--font-size-small);
    margin-left: var(--spacing-medium);
}

/* Spinner */

[data-spinner] {
    position: absolute;
}

[data-spinner]:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
    border-top: 2px solid var(--color-secondary);
    border-right: 2px solid transparent;
    animation: spin 2s linear infinite;
}

/* Unit */

[data-dot] {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    display: inline-block;
    margin: var(--spacing-small) 2px;
}

[data-dot="ok"] { background: var(--color-success); }
[data-dot="fail"] { background: var(--color-error); }

[data-unit-test] {
    margin: var(--spacing-default) 0;
    padding-left: var(--spacing-medium);
    padding-right: var(--spacing-medium);
    white-space: pre-wrap;
    font-family: monospace;
}

[data-unit-test="ok"] {
    border-left: 3px solid var(--color-success);
}

[data-unit-test="fail"] {
    border-left: 3px solid var(--color-error);
}

/* Alignment */

[data-align="center"] {
    text-align: center;
}

/* Errors */

[data-error] {
    color: var(--color-error);
}

/* Flex */

[data-flex] {
    display: flex;
}

[data-flex*="column"] {
    flex-direction: column;
}

[data-flex*="items-center"] {
    align-items: center;
}

[data-flex*="justify-between"] {
    justify-content: space-between;
}

[data-flex*="justify-center"] {
    justify-content: center;
}

[data-flex*="wrap"] {
    flex-wrap: wrap;
}

/* Grid */

[data-columns="2"] { columns: 2; }
[data-columns="3"] { columns: 3; }
[data-columns="4"] { columns: 4; }
[data-columns="5"] { columns: 5; }

[data-grid] {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

[data-grid="2"] {
    grid-template-columns: repeat(2, 1fr);
}

[data-grid="3"] {
    grid-template-columns: repeat(3, 1fr);
}

/* Spacing */

[data-spacing="default"] {
    margin: var(--spacing-default);
}

[data-spacing="x"] {
    margin-left: var(--spacing-default);
    margin-right: var(--spacing-default);
}

[data-spacing="y"] {
    margin-top: var(--spacing-default);
    margin-bottom: var(--spacing-default);
}

[data-spacing="b"] {
    margin-bottom: var(--spacing-default);
}

[data-spacing="b-none"] {
    margin-bottom: 0;
}

[data-spacing="medium"] {
    margin: var(--spacing-medium);
}

[data-spacing*="y-medium"] {
    margin-top: var(--spacing-medium);
    margin-bottom: var(--spacing-medium);
}

[data-spacing*="b-medium"] {
    margin-bottom: var(--spacing-medium);
}

[data-spacing*="x-small"] {
    margin-left: var(--spacing-small);
    margin-right: var(--spacing-small);
}

[data-spacing*="b-small"] {
    margin-bottom: var(--spacing-small);
}

/* Print */
/* TODO print needs to negate dark mode, or provide a print feature */

@media print {
    [data-no-print] {
        display: none;
    }
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideUp {
    from {
      transform: translate3d(0, 100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes spin {
    to { transform: rotate(360deg); }
}
