
* {
    font-size: 16px;
    line-height: 1.4;
    font-family: monospace;
}

:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #1ba3f7;
}

body {
    margin: 20px;
}

form {
    margin-bottom: 20px;
}

fieldset {
    padding: 15px 25px;
    border: 1px solid #ccc;
    margin: 20px 0;
}

fieldset > div {
    display: flex;
    align-items: center;
}

legend {
    padding: 0 10px;
    margin-left: -10px;
}

label {
    padding: 10px 0;
    width: 150px;
    display: inline-block;
}

button,
select {
    border-radius: 4px;
    background: #f9f9f9;
    border: 1px solid #ccc;
}

button[data-size="small"] {
    height: 24px;
    padding: 0 4px;
}

button[data-size="large"] {
    padding: 8px 20px;
}

select {
    min-width: 120px;
    height: 24px;
}

select + button {
    margin-left: 10px;
}

h1 {
    font-size: 18px;
}

ul {
    list-style: square;
}

li {
    padding-right: 20px;
}

[data-columns="2"] { columns: 2; }
[data-columns="3"] { columns: 3; }
[data-columns="4"] { columns: 4; }
[data-columns="5"] { columns: 5; }
